[submodule "Docker/docker-tautulli2discord"]
	path = Docker/docker-tautulli2discord
	url = https://github.com/fscorrupt/docker-tautulli2discord.git
	branch = master
[submodule "Docker/docker-plexstatus2discord"]
	path = Docker/docker-plexstatus2discord
	url = https://github.com/fscorrupt/docker-plexstatus2discord.git
	branch = master
